html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0%;
}

p,button{
    font-family: 'Montserrat', sans-serif;
}

.Header{
    display: block;
    background-color: #25201d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 54px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.sticky + .content {
    padding-top: 102px;
}

#img_logo_black{
    position: fixed; 
    bottom: 20px;
    top: 0px; 
    left: 0px; 
}

#boton_abajo{
    color: #25201d;
    padding: auto;
    display: flex;
    align-items: center;
    width: 40px;
    padding: 10px 300px;   
}

#boton_abajo span{
    font-size: 40px;
}


#img_logo, #img_logo_black{
    width: 60px;
    padding: 10px;

}

/*________________________________ Boton principal de CV ____________________________________*/

#botones_principales,
#botones_principales *,
#botones_principales :after,
#botones_principales :before,
#botones_principales:after,
#botones_principales:before {
  border: 0 solid;
  box-sizing: border-box;
}
#botones_principales {
  background-color: #e6d0d0;
  color:#ffffff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;

  border-radius: 99rem;
  border-width: 0px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 60%;
  padding: 10px;
  padding-top: 15px;
  position: relative;
  margin: 10px 190px 30px 190px;
  box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
  border: 1px solid #e2e2e2;
}

#botones_principales [hidden] {
  display: none;
}

#botones_principales:hover {
  transform: scale(1.1);
}
#botones_principales span {
  mix-blend-mode: difference;
}
#botones_principales:before {
  aspect-ratio: 1;
  background: #dda4a4;
  color: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s;
  width: 0;
}
#botones_principales:hover:before {
  width: 100%;
}
/*________________________________ Barra de menu ____________________________________*/

a{
    text-decoration: none;
    color: white;
    width: auto;
}

.menu_ol a{
    padding: 19px 15px 16px;
}

/* CSS 
#contactame{
    border-radius: 99rem;
    padding: 15% 3%;
    background-color: #dda4a4;
    margin-top: 5px;
    width: 130px;
    height: 9%;
    justify-content: center;
*/

#contactame, #boton_certificado{
  background: linear-gradient(to bottom right, #e26262, #ecc2cc);
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 3;
  outline: transparent;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 54px;
}

#boton_certificado{
    margin: 4%;
    margin-top: 2%;
    border-radius: 99rem;
}

#contactame:not([disabled]):focus, #boton_certificado:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.048), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(214, 159, 202, 0.5);
}

#contactame:not([disabled]):hover, #boton_certificado:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.123), -.125rem -.125rem 1rem rgba(231, 139, 156, 0.5), .125rem .125rem 1rem rgba(214, 159, 202, 0.5);
}


.menu_ol {
    list-style-type: none;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    margin: 0px;
    justify-content: center;
}
  

#icono_menu{
    display: none;
}

#back_to_top {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(49, 49, 49); 
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 100px; 
    font-size: 1px; 
}
  
#back_to_top:hover {
    background-color: #555; 
}

/*______ Botón ver mas en menu  _______*/

.dropbtn {
    border: none;
    cursor: pointer;
    padding: 16px 15px 16px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.dropbtn:hover, .dropbtn:focus, .menu_ol a:hover, .menu_ol a:focus, .dropdown:hover .dropbtn{
    background-color:#dda4a4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*____________________________ Primera parte ___________________________*/

#inicio{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 85%;
    margin-block-start:auto;
    overflow: hidden;
    background-color: #F6F6F6;
}

.presentacion{
    display: grid;
    justify-content: center;
    margin: 0%;
    padding-top: 4%;
}

#img1{
    width: 80%;
    margin-left: 10%;
}

#img2{
    width: 540px;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
}


/*____________________________ Sobre mi ___________________________*/

#Sobre_Mi{
    display: grid;
    grid-template-columns: 35% 55%;
    margin: 4%;
    padding: 4%;
    line-height: 25px;
    align-items: center;
    border-radius: 50px;
}

#Sobre_Mi img{
    width: 80%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.884);
    border: 1px solid #e2e2e2;

}

#Sobre_Mi div div{
    display: grid;
    grid-template-columns: 50% 50%;
}

#Sobre_Mi span{
    color: #dda4a4;
}

/*____________________________ Experiencia ___________________________*/

#Experiencia{
    display: grid;
    line-height: 25px;
    background-color:#ececec;
    padding-top: 25px;
}

#Experiencia div{
    display: grid;
    grid-template-columns: 14% 82%;
    margin-bottom: 5px;
    padding: 15px;
    padding-left: 35px;
    border-radius: 10px;
}

#Experiencia div div{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-column-gap: 40px;
    grid-template-rows: 60% 40%;
    background-color: white;
    margin-top: -15px;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
}

#exp_h2{
    margin: 2.5%;
}

#Experiencia button{
    margin: 25px 450px 10px 0px;
}


/*____________________________ Conocimientos ___________________________*/

#conocimientos{
    display: grid;
    grid-template-columns: 45% 50%;
    grid-column-gap: 30px;
    padding: 20px;
    margin: 10px;
    padding-top: 0%;
    margin-top: 0%;
}

#conocimientos div{
    padding-bottom: 10px;
    border-radius: 10px;
}
#conocimientos2 p{
    display: flex;
    align-items: center;
}
#conocimientos2{
    display: grid;
    grid-template-rows: 60% 30%;
    grid-row-gap: 30px;
    margin-top: 70px;
}

#conocimientos2 h2{
    margin: 0%;
}

.habilidades{
    padding: 20px;
    background-color: #daa49bc9;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
    border-radius: 10px;
    color: white;
}


.habilidades_tecnicas{
    padding: 20px;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 35% 55%;
    grid-column-gap: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
    border-radius: 10px;
}


.lenguajes p{
    margin-bottom: 16px;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

#conocimientos span{
    margin-right: 10px;
}

.barra{
    height: 10px;
    border-radius: 0.25rem;
    background-color: #e9e9e9;
}
#progreso p{
    margin:0%;
    padding-right: 4px;
}
#progreso div{
    height: 10px;
    margin-bottom: 21px;
}
#progreso div div{
    background-color: #e9b19ff8;
    
}


/* _____________________ Barras de progreso en conocimientos ____________________*/

@keyframes progressbar40 {

    0%{ width: 0%;

    } 
    
    100%{ width: 40%;

    } 
    
}

@keyframes progressbar50 {

    0%{ width: 0%;

    } 
    
    100%{ width: 50%;

    } 
    
}
@keyframes progressbar60 {

    0%{ width: 0%;

    } 
    
    100%{ width: 60%;

    } 
    
}

@keyframes progressbar70 {

    0%{ width: 0%;

    } 
    
    100%{ width: 70%;

    } 
    
}

@keyframes progressbar80 {

    0%{ width: 0%;

    } 
    
    100%{ width: 80%;

    } 
    
}

@keyframes progressbar90 {

    0%{ width: 0%;

    } 
    
    100%{ width: 90%;

    } 
    
}

@keyframes progressbar100 {

    0%{ width: 0%;

    } 
    
    100%{ width: 100%;

    } 
    
}

#progreso40, #progreso40_2{
    width: 40%;
    animation: progressbar40 3s ease-in-out;
    animation-direction: forwards;  
    animation-play-state: paused;
    animation-delay: 0.5s;  
}

#progreso50,#progreso50_2,#progreso50_3{
    width: 50%;
    animation: progressbar50 3s ease-in-out;
    animation-direction: forwards;
    animation-play-state: paused; 
    animation-delay: 0.5s;
}

#progreso60, #progreso60_2{
    width: 60%;
    animation: progressbar60 3s ease-in-out;
    animation-direction: forwards; 
    animation-play-state: paused;   
    animation-delay: 0.5s;
}

#progreso70, #progreso70_3,#progreso70_2{
    width: 70%;
    animation: progressbar70 3s ease-in-out;
    animation-direction: forwards;
    animation-play-state: paused; 
    animation-delay: 0.5s;
}


#progreso80, #progreso80_2{
    width: 80%;
    animation: progressbar80 3s ease-in-out;
    animation-direction: forwards;
    animation-delay: 0.5s; 
    animation-play-state: paused;
}

#progreso90, #progreso90_2{
    width: 90%;
    animation: progressbar90 3s ease-in-out;
    animation-direction: forwards;
    animation-play-state: paused; 
}

#progreso100, #progreso100_2{
    width: 100%;
    animation: progressbar100 3s ease-in-out;
    animation-direction: forwards;
    animation-delay: 0.5s;
    animation-play-state: paused; 
}

/* _____________________ Educacion y certificaciones ____________________*/

#Educacion_y_Certificados, #exp, #sobre, #Conocimientos{
    height: 80px;
}

#educa a{
    color: #25201d;
}

#educa{
    display: grid;
    grid-template-columns: 45% 50%;
    grid-column-gap: 40px;
    padding: 20px;
    margin: 10px;
    margin-top: 0%;
    padding-top: 0%;
}


#ed{
    background-color: white;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
    border-radius: 10px;
    padding: 20px;
    padding-left: 60px;
}

#dot{
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #dda4a4;

}

#line{
    content: '';
    width: 2px;
    position: absolute;
    height: 106%;
    margin-top: 10px;
    margin-left: 50px;
    left: 7px;
    background-color: #dda4a4;
}

#dot2{
    position: absolute;
    height: 15px;
    width: 15px;
    right: 661px;
    margin-top: 22px;
    border-radius: 50%;
    background-color: #dda4a4;

}

#line2{
    content: '';
    width: 2px;
    position: absolute;
    height: 121%;
    margin-top: 35px;
    right: 667px;
    background-color: #dda4a4;
}

#certi{
    background-color: white;
    box-shadow: 0 0 20px rgba(182, 181, 187, 0.658);
    border-radius: 10px;
    padding: 20px;
    padding-left: 60px;
}

/* _____________________ Botón ver mas en certificaciones ____________________*/

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


footer{
    color: white;
}

.logo{
    width: 20%;
}

section {
  width: 100%;
  display: inline-block;
  background-color: #dda4a4;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background-color: #dda4a4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}

.twitter,.linkedin,.github{
    width: 30px;
}

.footer-icons{
    padding: 100px;
}